// VARIABLES - FONTS
$universal-font-family: "Open Sans",Roboto,"Helvetica Neue",Arial,sans-serif;
$h-tag-font-family: Montserrat,"Open Sans",Roboto,"Helvetica Neue",Arial,sans-serif;

// VARIABLES - COLORS
$universal-bg-color: #ffffff;
$ivanti-gray-med: #53565a;
$ivanti-gray-drk: #373a3c;
$ivanti-red: #da291c;

// VARIABLES - MEDIA QUERIES
$phone-width: 500px;
$tablet-width: 767px;

// ANIMATIONS
@keyframes slideInFromTop {
    0% {
      transform: translateY(-200px);
    }
    100% {
      transform: translateY(0);
    }
}

// RESETTING MIXINS
@mixin reset-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
}

// STYLING MIXINS
@mixin hero-font-on-picture {
    font-size: 46px;
    line-height: 1.4em;
    letter-spacing: 7px;
    font-weight: 600 !important;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

@mixin section-max-width {
    max-width: 940px;
    width: 90%;
    margin: auto;
}

@mixin select-dropdown-overall {
    padding-left: 15px;
    font-size: 14px;
    &:hover {
        cursor: pointer;
    }
}

@mixin light-select {
    @include select-dropdown-overall;

    border: 1px solid $ivanti-gray-med;
    background-image: url('../images/dropdown_menu_arrow.png');
    background-position: calc(100% - 15px) calc(0.65em + 7px);
    background-size: 15px 10px;
    background-repeat: no-repeat;
    color: $ivanti-gray-med;
}

@mixin dark-select {
    @include select-dropdown-overall;
    
    border: 1px solid $ivanti-gray-med;
    background-color: #53565a;
    background-image: url('../images/dropdown_menu_arrow-white.png');
    background-position: calc(100% - 15px) calc(0.35em + 7px);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    color: #ffffff;
}

// STYLING SASS
body {
    font-family: $universal-font-family;
    background: $universal-bg-color;
    color: $ivanti-gray-med;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $h-tag-font-family;
    font-weight: 500;
}

.section-hero-container {
    background-image: url('https://static.ivanti.com/sites/marketing/media/images/company/contact/contact_header-bground.jpg?ext=.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0;
    h1 {
        @include hero-font-on-picture;

        animation: 500ms ease-out 0s 1 slideInFromTop;
    }
}

.section-content-container {
    padding: 40px 0;

    p {
        @include section-max-width;
        margin-bottom: 40px;
    }

    .cta-container {
        width: 100%;
        height: auto;
        margin: auto;
        background: $ivanti-red;
        color: #ffffff;
        padding: 40px 0;

        .side-by-side-btns {
            max-width: 500px;
            width: 95%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .cta-outline-btn {
                max-width: 225px;
                width: calc(90% - 4px);
                height: 46px;
                margin: auto;
                text-align: center !important;
                background: rgba(255,255,255,0);
                border: 2px solid #ffffff;
                -webkit-transition: background 200ms ease;
                -moz-transition: background 200ms ease;
                -ms-transition: background 200ms ease;
                -o-transition: background 200ms ease;
                transition: background 200ms ease;
            
                a {
                    color: #ffffff;
                    text-decoration: none;
            
                    p {
                        color: #ffffff;
                        font-size: 21px;
                        font-weight: 500;
                        padding: 12px 0px 15px 0px;
                    }
                }

                &:hover {
                    background: rgba(255,255,255,1);
                    color: $ivanti-red;
                }

                &:hover p {
                    color: $ivanti-red;
                    font-weight: 600;
                }
            }
        }
    }

    .find-office-locations {
        @include section-max-width;
        padding: 40px 0;

        .region-selector-container {
            width: 100%;
            height: auto;
            margin: auto auto 40px auto;
            text-align: center;

            p {
                margin-bottom: 20px;
            }

            select {
                @include reset-select;
                @include dark-select;
            
                height: 40px;
                width: 31.8%;
                min-width: 275px;
            }
        }

        #office-locations-container {
            width: 100%;
            height: auto;
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .office-location {
                width: 31.6%;
                height: auto;
                border: 1px solid #53565a;
                margin-bottom: 30px;

                .office-location-img {
                    width: 100%;
                    min-height: 275px;
                    height: 31.8vw;
                    max-height: 330px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    position: relative;

                    .office-location-img-txt {
                        width: calc(100% - 30px);
                        background-color: rgba(0,0,0,.5);
                        padding: 25px 15px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        text-align: left;
                        text-transform: uppercase;

                        h5 {
                            color: #ffffff;
                            font-size: 1rem;
                            line-height: 1.1;
                            letter-spacing: 2px;
                            margin-bottom: 8px;
                        }

                        p {
                            color: $ivanti-red;
                            margin: 0;
                            font-size: .75rem;
                            font-weight: 700;
                            letter-spacing: .5px;
                        }
                    }
                }

                .office-location-info {
                    width: calc(100% - 32px);
                    height: auto;
                    margin: auto;
                    padding: 25px 15px;

                    h5 {
                        color: $ivanti-red;
                        font-size: 1rem;
                        line-height: 1.1;
                        letter-spacing: 2px;
                        margin-bottom: 15px;
                        text-transform: uppercase;
                    }

                    p {
                        margin: 0;
                        margin-bottom: 7px;
                    }

                    p:first-of-type {
                        margin-bottom: 15px;
                    }

                    p a {
                        color: $ivanti-red;
                        text-decoration: none;
                    }

                    p span a {
                        color: $ivanti-gray-med;
                    }
                }
            }
        }
    }
}

// MEDIA QUERIES
@media screen and (max-width: $tablet-width) {
    .section-hero-container {
        h1 {
            font-size: 35px;
        }
    }

    .region-selector-container {
        select {
            width: 48.6% !important;
        }
    }

    .office-location {
        width: 48.6% !important;
    }
}

@media screen and (max-width: 550px) {
    .side-by-side-btns {
        flex-direction: column !important;
    }

    .cta-outline-btn:first-of-type {
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: $phone-width) {
    .region-selector-container {
        select {
            width: 100% !important;
            max-width: 275px !important;
        }
    }

    .office-location {
        width: 100% !important;
    }
}

@media screen and (max-width: 315px) {
    .region-selector-container {
        select {
            max-width: 100% !important;
            width: 100% !important;
            min-width: 100% !important;
        }
    }
}
